<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>816253000159-629s3jbkc3o9jcqbn5c0iff9i5ot1e6c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816253000159-629s3jbkc3o9jcqbn5c0iff9i5ot1e6c</string>
	<key>API_KEY</key>
	<string>AIzaSyCLhdL2RUgOop7szuZjw55iiC21Z5rNZiY</string>
	<key>GCM_SENDER_ID</key>
	<string>816253000159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moFinal.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>class-work-c144b</string>
	<key>STORAGE_BUCKET</key>
	<string>class-work-c144b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816253000159:ios:98a68ea30e6d97f1194c6a</string>
</dict>
</plist>